body {
  background-color: rgb(233, 220, 204);
}
.fixed-bottom {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
.container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.child-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.navbar1 {
  padding: 10px;
}
H1 {
  text-align: center;
}
.container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.img {
  height: 384px;
  width: 1024px;
  margin-top: 5%;
}
